:root{
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-gree: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
}

body{
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
}